{% extends "Layouts/Layout.html" %}

{% block content %}

{% import 'Partials/Navigation.html' as nav %}
{{nav.active('contact')}}

<div class="container">

	<div class="starter-template">
		<h1>Bootstrap starter template</h1>
		<p class="lead">This is the contact page</p>
		<p class="lead"><span class="fa fa-clock-o fa-3x"></span></p>
	</div>

</div>

{% endblock %}