{% extends "Layouts/Layout.html" %}

{% block content %}

{% import 'Partials/Navigation.html' as nav %}
{{nav.active('home')}}

<div class="container">

	<div class="starter-template">
		<h1>Bootstrap starter template</h1>
		<p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a
			mostly barebones HTML document.</p>
		<p class="lead"><span class="fa fa-clock-o fa-3x"></span></p>
	</div>

</div>

{% endblock %}