{% macro active(activePage='home') %}
<nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
	<a class="navbar-brand" href="/Templates">Project name</a>
	<ul class="nav navbar-nav">
		<li class="nav-item{%if activePage == 'home' %} active {% endif %}">
			<a class="nav-link" href="/Templates">Home</a>
		</li>
		<li class="nav-item{%if activePage == 'about' %} active {% endif %}">
			<a class="nav-link" href="about.html">About</a>
		</li>
		<li class="nav-item{%if activePage == 'contact' %} active {% endif %}">
			<a class="nav-link" href="contact.html">Contact</a>
		</li>
	</ul>
</nav>
{% endmacro %}
