<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">

	<title>Bootstrap starter package</title>

	<link rel="stylesheet" href="../Css/Styles.min.css">
</head>
<body>

{% block content %} {% endblock %}

<script src="../JavaScript/App.js"></script>
</body>
</html>
